@page
@model IndexModel


@{
    ViewData["Title"] = "Home page";
    int[] score = new int[5] { 1, 2, 3, 4, 5 };
}

<table>
    <thead>
        <tr>
            <th>Denisa Navrátilová</th>
        </tr>
        <tr>
            <th>AIK2</th>
        </tr>
        <tr>
            <th>deniska.navratilova13@gmail.com</th>
        </tr>
    </thead>
</table>

<form method="post" class="my_form">
    <div class="text-center">
        <p> Score
            <select name="score">
            @foreach (var item in score)
            {
                <option>
                    @item
                </option>
            }
            </select>
            &emsp;

            Success
            <input name="success" type="checkbox" value="true" />
        <p/>
        <button type="submit">Submit</button>
    </div>
</form>